@font-face {
  font-family: 'ff-icons';
  src:
    url('fonts/ff-icons.ttf?eztx99') format('truetype'),
    url('fonts/ff-icons.woff?eztx99') format('woff'),
    url('fonts/ff-icons.svg?eztx99#ff-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ff-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ff-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ff-icon-remove:before {
  content: "\e900";
}
.ff-icon-plus:before {
  content: "\e901";
}
.ff-icon-search:before {
  content: "\e902";
}
